body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: black;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.body {
  background-color: black;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container {
}
.main {
  flex: 1;
}

.logo {
  color: #ffffff;
  font-family: "Rubik Vinyl", cursive;
}
